@using Microsoft.AspNetCore.Components.Web
@inherits Soenneker.Quark.Components.Element

<span @attributes="BuildAttributes()"
      @onclick="HandleClick"
      @ondblclick="HandleDoubleClick"
      @onmouseover="HandleMouseOver"
      @onmouseout="HandleMouseOut"
      @onkeydown="HandleKeyDown"
      @onfocus="HandleFocus"
      @onblur="HandleBlur"
      @ref="ElementRef" >
	@ChildContent
</span>
